
#heading{
    color: whitesmoke;
    background-color: orange;
    font-size: 2rem;
    /*width: 70%;*/
    padding: 25px;
    border: 5px dotted green;
    margin: 25px;
}
.jumbotron{
    padding: 1rem 1rem;
    margin-bottom: 0;  
    background:transparent;  
}

#rules{
    padding: 20px;
    border: 2px solid brown;
    background-color: lightblue;
    /*width: 70%;*/
    margin: 25px;
}

#ScoretoBeat{
    background-color: mistyrose;
    padding:20px;
    border: 2px solid black;
    float: left;
    width: 35%;
    margin: 25px;
    text-align: center;
    font-weight: bolder;
}

#ScoreTally{
    background-color: #0532ffdc;
    padding:20px;
    border: 2px solid black;
    margin: 25px;
    float: left;
    width:  35%;
    color:whitesmoke;
    font-weight: bolder;
}

#crystalfigures{ 
    margin: 5px 0 5px 25px;    
}

#crystal1, #crystal2, #crystal3, #crystal4{
    float:left;
    /*width:24%;*/
    margin: 2px;
    padding:0;   
    z-index: 10;
}


#TotalScore{
    background-color: green;
    color: whitesmoke;
    clear: both;
    /*margin: 20px 20px 20px 0px;*/
    padding:20px;
    border: 2px solid black;    
    width: 35%;
    margin: 25px;    
    float: left;
}

#UserScore{
    background-color: darkgreen;
    color: whitesmoke;
    /*margin: 20px 20px 20px 0px;*/
    padding:20px;
    border: 2px solid black;    
    width: 35%;
    margin: 25px;
    margin-top:0;
    margin-bottom:30px;
    clear:both;
    float: left;
    text-align: center;
    font-weight: bolder;
}

#clear{
    clear:both;
}

body{   
    background-image: url("../images/bck.jpg");    
    height: 100%; 
    background-position: center;
    background-size: 280px 200px;    
}